RewriteEngine On

RewriteRule ^login\.html$ login.php [QSA,L]
RewriteRule ^index\.html$ index.php [QSA,L]
RewriteRule ^settings\.html$ settings.php [QSA,L]
RewriteRule ^cards\.html$ cards.php [QSA,L]
RewriteRule ^invoices\.html$ invoices.php [QSA,L]
RewriteRule ^staff\.html$ staff.php [QSA,L]
RewriteRule ^search\.html$ search.php [QSA,L]
RewriteRule ^orders\.html$ orders.php [QSA,L]
RewriteRule ^cakes\.html$ cakes.php [QSA,L]
RewriteRule ^categories\.html$ categories.php [QSA,L]
RewriteRule ^items\.html$ items.php [QSA,L]
RewriteRule ^branches\.html$ branches.php [QSA,L]
RewriteRule ^notifications\.html$ notifications.php [QSA,L]
RewriteRule ^offers\.html$ offers.php [QSA,L]
RewriteRule ^contacts\.html$ contacts.php [QSA,L]
RewriteRule ^offers_reg\.html$ offers_reg.php [QSA,L]
RewriteRule ^caketypes\.html$ caketypes.php [QSA,L]
RewriteRule ^groups\.html$ groups.php [QSA,L]
RewriteRule ^messages\.html$ messages.php [QSA,L]
RewriteRule ^setting\.html$ setting.php [QSA,L]
RewriteRule ^corn\.html$ corn.php [QSA,L]
RewriteRule ^controler\.html$ controler.php [QSA,L]
RewriteRule ^logs\.html$ logs.php [QSA,L]
